.App {
  text-align: left;
  width:1024px;
  margin: 30px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

form{

  margin: 10px;

}
label, input{
  display: block;
  margin: 10px;
}

input{

  padding: 10px 3px;
   
}

input[type='submit']{
  padding: 10px 20px;
  border-radius: 5px;
  background: #DDDDDD;
  color: #000000;
  border: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
